<!Doctype html>
<html>
    <head>
        <title>인사하는 곳</title>
        <!-- css -->
        <style>
            body {
                color: blue;
            }
            .text-center{
                text-align: center;
                color: red!important;
            }
            #black{
                color: black;
            }
        </style>
    </head>
    <body>
        <h1 id="black" class="text-center">안녕, {{n}}! </h1> <!-- 출력하고싶으면 중괄호 안에다 변수 넣기 -->
        
    </body>
</html>