<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        img {
            width: 100px;
            height: 100px;
        }
        p {
            text-align: center;
            color: red;
            font-size: 20px;

        }
        .black {
            background-color: black;

        }
        .red {
            background-color: red;
        }
        .blue {
            background-color: blue;
        }
        div {
            height: 100px;
            width: 100px;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <h1>h1입니다</h1>
    <h2>h2입니다</h2>
    <h3>h3입니다</h3>
    <p>본문 내용 활용할 때 씁니다.</p>

    <a href="http://google.com">구글로가기</a>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ2VmPNxz1X4RPvJRv84YNrvph2i5AZz6r0hHQ-ZUOEgJOEYYTcg" />
    <iframe width="600" height="400" src="https://www.youtube.com/watch?v=WwLJa-h0Yq4"></iframe>
    <p>div는 style에서 영역지정이 안되있으면 안나온다. 그러니까 위에서 크기 조절해야함.</p>
    <div class="black"> </div>
    <div class="red"> </div>
    <div class="blue"> </div>
</body>
</html>
